# EDA - Descriptive Statistics

# Part-1

## About the dataset

This is perhaps the best known database to be found in the pattern recognition literature. The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant.  One class is linearly separable from the other 2; the latter are NOT linearly separable from each other.

Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class: 
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica

### Read the dataset and store it in the dataframe named Iris

In [7]:
#libraries             
#%%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

iris = pd.read_csv('C:/Users/Mulle/Desktop/AI/Week 3/Exercise 1-20230915/Iris.csv')

### Find out the datatypes of each and every column

In [8]:
iris.select_dtypes

<bound method DataFrame.select_dtypes of      Sepal Length (in cm)  Sepal Width in (cm)  Petal length (in cm)  \
0                     5.1                  3.5                   1.4
1                     4.9                  3.0                   1.4
2                     4.7                  3.2                   1.3
3                     4.6                  3.1                   1.5
4                     5.0                  3.6                   1.4
..                    ...                  ...                   ...
145                   6.7                  3.0                   5.2
146                   6.3                  2.5                   5.0
147                   6.5                  3.0                   5.2
148                   6.2                  3.4                   5.4
149                   5.9                  3.0                   5.1

     Petal width (in cm)           Class
0                    0.2     Iris-setosa
1                    0.2     Iris-setosa
2                    0.2     Iris-setosa
3                    0.2     Iris-setosa
4                    0.2     Iris-setosa
..                   ...             ...
145                  2.3  Iris-virginica
146                  1.9  Iris-virginica
147                  2.0  Iris-virginica
148                  2.3  Iris-virginica
149                  1.8  Iris-virginica

[150 rows x 5 columns]>

### Print top 10 & bottom 10 samples from the dataframe

In [10]:
iris.head(10)
iris.tail(10)

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
7,5.0,3.4,1.5,0.2,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa

### Find the shape of the dataset

In [11]:
iris.shape

(150, 5)

### Set the index of the dataframe to be the first column

In [13]:
iris.set_index(iris.columns[0])

,Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
Sepal Length (in cm),,,,
5.1,3.5,1.4,0.2,Iris-setosa
4.9,3.0,1.4,0.2,Iris-setosa
4.7,3.2,1.3,0.2,Iris-setosa
4.6,3.1,1.5,0.2,Iris-setosa
5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...
6.7,3.0,5.2,2.3,Iris-virginica
6.3,2.5,5.0,1.9,Iris-virginica
6.5,3.0,5.2,2.0,Iris-virginica
6.2,3.4,5.4,2.3,Iris-virginica
5.9,3.0,5.1,1.8,Iris-virginica

### Use iloc function to print all the rows of the 3rd column

In [20]:
iris.iloc[:, 2]

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: Petal length (in cm), Length: 150, dtype: float64

### Slicing
Print only the Sepal width and Sepal Length for first 10 rows

In [25]:
newdf = iris[['Sepal Length (in cm)', 'Sepal Width in (cm)']].head(10)
print(newdf)

   Sepal Length (in cm)  Sepal Width in (cm)
0                   5.1                  3.5
1                   4.9                  3.0
2                   4.7                  3.2
3                   4.6                  3.1
4                   5.0                  3.6
5                   5.4                  3.9
6                   4.6                  3.4
7                   5.0                  3.4
8                   4.4                  2.9
9                   4.9                  3.1

### Using Logical statements for indexing
Print all the columns of row which has class name "Iris-setosa"

In [26]:
iris.loc[iris['Class'] == 'Iris-setosa']

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
7,5.0,3.4,1.5,0.2,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa
10,5.4,3.7,1.5,0.2,Iris-setosa
11,4.8,3.4,1.6,0.2,Iris-setosa
12,4.8,3.0,1.4,0.1,Iris-setosa
13,4.3,3.0,1.1,0.1,Iris-setosa
14,5.8,4.0,1.2,0.2,Iris-setosa
15,5.7,4.4,1.5,0.4,Iris-setosa
16,5.4,3.9,1.3,0.4,Iris-setosa
17,5.1,3.5,1.4,0.3,Iris-setosa
18,5.7,3.8,1.7,0.3,Iris-setosa
19,5.1,3.8,1.5,0.3,Iris-setosa
20,5.4,3.4,1.7,0.2,Iris-setosa
21,5.1,3.7,1.5,0.4,Iris-setosa
22,4.6,3.6,1.0,0.2,Iris-setosa
23,5.1,3.3,1.7,0.5,Iris-setosa
24,4.8,3.4,1.9,0.2,Iris-setosa
25,5.0,3.0,1.6,0.2,Iris-setosa
26,5.0,3.4,1.6,0.4,Iris-setosa
27,5.2,3.5,1.5,0.2,Iris-setosa
28,5.2,3.4,1.4,0.2,Iris-setosa
29,4.7,3.2,1.6,0.2,Iris-setosa
30,4.8,3.1,1.6,0.2,Iris-setosa
31,5.4,3.4,1.5,0.4,Iris-setosa
32,5.2,4.1,1.5,0.1,Iris-setosa
33,5.5,4.2,1.4,0.2,Iris-setosa
34,4.9,3.1,1.5,0.1,Iris-setosa
35,5.0,3.2,1.2,0.2,Iris-setosa
36,5.5,3.5,1.3,0.2,Iris-setosa
37,4.9,3.1,1.5,0.1,Iris-setosa
38,4.4,3.0,1.3,0.2,Iris-setosa
39,5.1,3.4,1.5,0.2,Iris-setosa
40,5.0,3.5,1.3,0.3,Iris-setosa
41,4.5,2.3,1.3,0.3,Iris-setosa
42,4.4,3.2,1.3,0.2,Iris-setosa
43,5.0,3.5,1.6,0.6,Iris-setosa
44,5.1,3.8,1.9,0.4,Iris-setosa
45,4.8,3.0,1.4,0.3,Iris-setosa
46,5.1,3.8,1.6,0.2,Iris-setosa
47,4.6,3.2,1.4,0.2,Iris-setosa
48,5.3,3.7,1.5,0.2,Iris-setosa
49,5.0,3.3,1.4,0.2,Iris-setosa

### Multiply Sepal Length and width and store it under the column name "SepalExtra" in the same Iris dataframe

In [31]:
iris['SepalExtra']= iris['Sepal Length (in cm)']*iris['Sepal Width in (cm)']

In [32]:
iris

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class,SepalExtra
0,5.1,3.5,1.4,0.2,Iris-setosa,17.85
1,4.9,3.0,1.4,0.2,Iris-setosa,14.70
2,4.7,3.2,1.3,0.2,Iris-setosa,15.04
3,4.6,3.1,1.5,0.2,Iris-setosa,14.26
4,5.0,3.6,1.4,0.2,Iris-setosa,18.00
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,20.10
146,6.3,2.5,5.0,1.9,Iris-virginica,15.75
147,6.5,3.0,5.2,2.0,Iris-virginica,19.50
148,6.2,3.4,5.4,2.3,Iris-virginica,21.08
149,5.9,3.0,5.1,1.8,Iris-virginica,17.70

### Find out the mean and variance for each column but for class column

In [34]:
iris.mean(numeric_only=True)

Sepal Length (in cm)     5.843333
Sepal Width in (cm)      3.054000
Petal length (in cm)     3.758667
Petal width (in cm)      1.198667
SepalExtra              17.806533
dtype: float64

### Write a function that accepts two numbers as input and prints them - Pass the Sepal length and sepal width of 5th row and print the output

In [49]:
def Display(a, b):
    print("%s, %s" % (a,b))

Display(iris['Sepal Length (in cm)'][5], iris['Sepal Width in (cm)'][5])

5.4, 3.9

### Find the range of all the columns in the dataset

*Range = Max value - Min value (in the column)*

<bound method NDFrame._add_numeric_operations.<locals>.max of      Sepal Length (in cm)  Sepal Width in (cm)  Petal length (in cm)  \
0                     5.1                  3.5                   1.4
1                     4.9                  3.0                   1.4
2                     4.7                  3.2                   1.3
3                     4.6                  3.1                   1.5
4                     5.0                  3.6                   1.4
..                    ...                  ...                   ...
145                   6.7                  3.0                   5.2
146                   6.3                  2.5                   5.0
147                   6.5                  3.0                   5.2
148                   6.2                  3.4                   5.4
149                   5.9                  3.0                   5.1

     Petal width (in cm)           Class  SepalExtra
0                    0.2     Iris-setosa       17.85
1                    0.2     Iris-setosa       14.70
2                    0.2     Iris-setosa       15.04
3                    0.2     Iris-setosa       14.26
4                    0.2     Iris-setosa       18.00
..                   ...             ...         ...
145                  2.3  Iris-virginica       20.10
146                  1.9  Iris-virginica       15.75
147                  2.0  Iris-virginica       19.50
148                  2.3  Iris-virginica       21.08
149                  1.8  Iris-virginica       17.70

[150 rows x 6 columns]>

### Sort the entire dataset according to the column Petal width

### Remove the new column "SepalExtra" from the dataframe

### Take only the top 10 rows of the dataset with only first 3 columns and store it in a dataframe named "IrisSubset"

# Part-2

## The dataset HR contains information collected from the survey floated by a HR within the company.


As a part of this lab, you are expected to answer the below questions

### Import numpy and Pandas

### Import the dataset (Note: The dataset is in .txt format) - Make sure to use delimiters

### Print the no of rows and columns in the dataset

### Find out the type of each and every column in the dataset

### Print out all the rows from 3rd column to 10th columns

### Find out the no of male & female employees in the company

*Hint: Use can use a condition to find out the no of 1s and 0s in gender and sum it*

### Find out the IQR for the column - Age 

*Hint: IQR - Interquartile range = 75th percentile - 25th percentile*

### Find out the mean, median and variance for the column - DailyRate

### Plot the attrition column (Since it is a categorical variable, chose the plot accordingly)

### Plot Total working years using matplotlib plot function